body {
  padding: 10px;
  padding-bottom: 70px;
}
body > nav {
  width: 100%;
  height: 60px;
  top: initial;
  bottom: 0;
  display: flex;
}
body > nav > a {
  width: auto;
  flex: 0 0 16.6666666666666%;
  border-bottom: none;
  border-right: 1px solid #85a8ed;
  touch-action: manipulation;
}
body > nav > a:hover {
  width: auto;
}
#this-week {
  display: inline-block;
  width: initial;
}
#this-week > h1 {
  text-align: center;
}
#this-week .week-summary {
  display: inline-block;
}
#this-week section {
  display: block;
  padding-right: 30px;
  margin-bottom: 20px;
  min-width: initial;
  max-width: initial;
}
#this-week section:last-child {
  margin-bottom: 0;
}
#home {
  padding-top: 20px;
}
#home > h1 {
  text-align: center;
  margin-bottom: 40px;
}
#home > h1 > span,
#home > h1 > span .department {
  margin-top: 10px;
  font-size: 12px;
}
#home > h1 > span .department {
  margin-top: 5px;
  display: block;
}
#home p span {
  display: inline-block;
  width: calc(100% - 145px);
}
#home p strong {
  width: 145px;
}
#textbooks img {
  max-width: 30%;
  width: auto;
  height: auto;
  margin-right: 5px;
}
#lectures > section > h1 {
  font-size: 24px;
}
#lectures > section .date {
  display: inline-block;
}
#lectures > section .topics,
#lectures > section .references {
  padding-right: 0;
}
#lectures > section > section {
  display: block;
}
#lectures > section > section:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 2px solid #d9d9d9;
}
#lectures > section > section > div {
  display: block;
  margin-bottom: 25px;
  padding-top: 0;
}
#lectures > section > section > div:first-of-type {
  padding-left: 0;
  margin-bottom: 15px;
}
#lectures > section > section > div:first-of-type h1 {
  margin-bottom: 0;
  font-size: 18px;
}
#lectures > section > section .references h1,
#lectures > section > section .slides h1 {
  padding-left: 20px;
}
#lectures > section > section .icon.references::before,
#lectures > section > section .icon.slides::before {
  top: 0;
  left: 0;
  margin-top: -6px;
  font-size: 14px;
}
#assignments .homework strong {
  display: inline-block;
}
#assignments .homework .deadline,
#assignments .homework .files {
  width: auto;
}
#assignments .homework .module > * {
  display: block;
  padding-bottom: 10px;
}
#assignments .homework .files > * {
  margin-right: 10px;
}
#people ul {
  display: block;
}
#people .person {
  display: block;
  width: auto;
  flex-basis: auto;
  margin-right: 0;
}
#people .person > img {
  float: left;
}
