@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 40px;
  padding-left: 100px;
  padding-top: 0;
  line-height: 1.6em;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f8f7f8;
}
a {
  text-decoration: none;
  color: #5082e5;
}
a:hover {
  color: #85a8ed;
}
h1 {
  text-transform: uppercase;
  line-height: normal;
}
p {
  margin: 16px 0;
  font-size: 16px;
  line-height: 1.6em;
}
@media (max-width: 420px) {
  p {
    font-size: 14px;
  }
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.module {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.12);
}
.icon::before {
  font-family: "Glyphicons Halflings";
  opacity: 0.4;
  margin-right: 10px;
  vertical-align: middle;
  color: #5082e5;
}
.icon.pdf::before {
  content: "\e164";
}
.icon.zip::before {
  content: "\e166";
}
body > nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 60px;
  height: 100%;
  background-color: #5082e5;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
body > nav > a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #85a8ed;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  line-height: 42px;
  background-color: #5082e5;
  overflow: hidden;
  transition: width ease 0.2s, color ease 0.2s, background-color ease 0.2s;
}
body > nav > a:hover {
  width: 200px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  color: #fff;
}
body > nav > a.selected {
  border-bottom: none;
  color: #5082e5;
  background: #fff;
}
body > nav > a::before {
  float: left;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: -10px 15px 0 -10px;
  font-size: 20px;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 420px) {
  body > nav > a::before {
    font-size: 16px;
  }
}
body > nav > a[href="#home"]::before {
  content: "\e021";
}
body > nav > a[href="#about"]::before {
  content: "\e086";
}
body > nav > a[href="#resources"]::before {
  content: "\e043";
}
body > nav > a[href="#lectures"]::before {
  content: "\e109";
}
body > nav > a[href="#assignments"]::before {
  content: "\e012";
}
body > nav > a[href="#project"]::before {
  content: "\e006";
}
body > nav > a[href="#people"]::before {
  content: "\e008";
}
body > section {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 70px;
  padding-top: 20px;
}
body > section > h1 {
  margin-bottom: 40px;
  font-size: 36px;
}
@media (max-width: 420px) {
  body > section > h1 {
    font-size: 20px;
  }
}
body > section > section:not(:last-of-type) {
  margin-bottom: 30px;
}
body > section > section > h1 {
  margin-bottom: 10px;
  font-size: 20px;
}
@media (max-width: 420px) {
  body > section > section > h1 {
    font-size: 16px;
  }
}
#home {
  text-align: center;
  padding-top: 40px;
}
#home > h1 {
  font-size: 46px;
  text-align: left;
  margin-bottom: 50px;
}
@media (max-width: 420px) {
  #home > h1 {
    font-size: 24px;
  }
}
#home > h1 > span {
  display: block;
  margin-top: 5px;
  font-size: 20px;
}
@media (max-width: 420px) {
  #home > h1 > span {
    font-size: 16px;
  }
}
#home > h1 .department {
  font-size: 16px;
  vertical-align: middle;
}
@media (max-width: 420px) {
  #home > h1 .department {
    font-size: 14px;
  }
}
#course-info {
  margin: 10px auto;
  text-align: left;
}
#course-info th {
  font-weight: bold;
  min-width: 170px;
  vertical-align: top;
  font-size: 20px;
  color: #5082e5;
  text-transform: uppercase;
  opacity: 0.6;
}
@media (max-width: 420px) {
  #course-info th {
    font-size: 16px;
  }
}
#course-info tr:last-of-type {
  line-height: 1;
}
#course-info .email::before {
  content: "\2709";
  margin-left: 5px;
}
#this-week {
  margin: 30px auto 0 auto;
  width: 1220px;
  text-align: left;
}
@media screen and (max-width: 1340px) {
  #this-week {
    width: 670px;
  }
}
#this-week li,
#this-week p {
  line-height: 1.1;
}
#this-week li {
  margin-bottom: 10px;
}
#this-week > h1 {
  font-size: 36px;
  opacity: 0.6;
}
@media (max-width: 420px) {
  #this-week > h1 {
    font-size: 20px;
  }
}
#this-week .week-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  border: 2px solid #5082e5;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.12);
}
@media (max-width: 420px) {
  #this-week .week-summary {
    font-size: 14px;
  }
}
#this-week h1 {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#this-week ul {
  list-style-type: none;
}
#this-week section {
  width: 250px;
  margin: 5px 20px;
  vertical-align: top;
}
#this-week section.assignment > p {
  margin-top: 0;
}
#this-week section.assignment .files {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#this-week section.slides-and-notes ul:empty::after {
  content: "(None yet)";
}
#about .module {
  margin-bottom: 30px;
}
#about ul {
  margin-left: 20px;
}
#textbooks img {
  height: 200px;
  margin: 0 10px 10px 0;
}
#textbooks dd {
  margin-bottom: 10px;
}
#textbooks cite {
  font-weight: bold;
}
#references ul {
  margin-top: 10px;
}
#lectures > .abbreviations {
  margin-bottom: 20px;
  list-style-type: none;
}
#lectures > section {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}
#lectures > section .label {
  width: 20%;
}
#lectures > section .references {
  width: 25%;
}
#lectures > section .slides {
  width: 20%;
}
#lectures > section li {
  line-height: normal;
  margin-bottom: 10px;
}
#lectures > section h1 {
  margin-bottom: 15px;
}
#lectures > section .date,
#lectures > section .video {
  display: block;
  margin-top: 5px;
}
#lectures > section .date {
  color: #5082e5;
  font-size: 0.9em;
  opacity: 0.6;
}
#lectures > section .video {
  font-size: 0.85em;
}
#lectures > section .video::after {
  font-family: "Glyphicons Halflings";
  margin-left: 5px;
  vertical-align: top;
  content: "\e059";
}
#lectures > section ul {
  list-style-type: none;
}
#lectures > section .topics,
#lectures > section .references {
  padding-right: 60px;
}
#lectures > section .references > ul:empty::after {
  content: "(None)";
}
#lectures > section .icon.references::before,
#lectures > section .icon.slides::before {
  position: absolute;
  left: -42px;
  top: 20px;
  font-size: 30px;
}
#lectures > section .icon.references::before {
  content: "\e043";
}
#lectures > section .icon.slides::before {
  content: "\270f";
}
#lectures > section .icon.video::before {
  content: "\e059";
}
#lectures > section > section {
  display: table-row;
}
#lectures > section > section:first-of-type > div {
  padding-top: 0;
}
#lectures > section > section:first-of-type > div.icon::before {
  top: 0;
}
#lectures > section > section > div {
  position: relative;
  display: table-cell;
  padding-right: 20px;
  padding-top: 20px;
  vertical-align: top;
}
#lectures > section > section > div:first-of-type {
  padding-left: 20px;
}
#lectures > section > section > div > h1 {
  margin-bottom: 10px;
}
#assignments .policies {
  margin-bottom: 30px;
}
#assignments .homework {
  margin-bottom: 20px;
}
#assignments .homework strong {
  text-transform: uppercase;
  display: block;
}
#assignments .homework .module {
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 100%;
}
#assignments .homework .module > * {
  display: table-cell;
  padding-right: 40px;
}
#assignments .homework .module > *:last-of-type {
  padding-right: 0;
}
#assignments .homework .title {
  width: 250px;
}
#assignments .homework .title > h1 {
  line-height: 1.6em;
  white-space: nowrap;
}
#assignments .homework .title > p {
  margin-top: 0;
}
#assignments .homework .deadline {
  width: 250px;
}
#assignments .homework .files {
  width: 100px;
}
#assignments .submit,
#assignments .solutions {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 30px;
}
#assignments .submit {
  text-align: center;
}
#assignments .submit .icon {
  margin-bottom: 5px;
}
#assignments .submit .icon::before {
  content: "\2709";
  font-size: 32px;
  margin-right: 0;
}
#assignments .submit a:hover {
  color: #5082e5;
}
#assignments .submit a:hover .icon::before {
  opacity: 1;
}
#people > section:not(:last-of-type) {
  margin-bottom: 50px;
}
#people > section.multiple-people {
  margin-bottom: 30px;
  max-width: 1300px;
}
#people ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}
#people .person {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 600px;
  width: 600px;
  min-height: 190px;
}
#people .person > img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border-radius: 8px;
  flex: 0 0 auto;
}
#people .person > .info {
  min-width: 0;
}
#people .person > .info > p {
  margin: 0 5px;
}
#people .person > .info > p.name {
  font-weight: bold;
}
#people .person > .info > p.email {
  overflow: hidden;
  text-overflow: ellipsis;
}
#people .person > .info > p.bio {
  margin-top: 10px;
  font-size: 14px;
}
